{% extends 'base.html.twig' %}

 {% block title %}{{ parent() }} | Modifier mon mot de passe {% endblock %}
 {% block description %}{{ parent() }} | Modifier mon mot de passe  {% endblock %}
 {% block keywords %}{{ parent() }} | Modifier mon mot de passe   {% endblock %}


{% block body %}
 <h2>Modifier mon mot de passe </h2>


 


{% endblock %} 