{% extends 'base.html.twig' %}

 {% block title %}{{ parent() }} | Paramètres  {% endblock %}
 {% block description %}{{ parent() }} | Paramètres {% endblock %}
 {% block keywords %}{{ parent() }} | Paramètres  {% endblock %}


{% block body %}
 <h2>Paramètres</h2>


 


{% endblock %} 