{% extends 'base.html.twig' %}

 {% block title %}{{ parent() }} | Page appreils {% endblock %}
 {% block description %}{{ parent() }} | Page d'appareils{% endblock %}
 {% block keywords %}{{ parent() }} | Page d'appareils {% endblock %}

{% block body %}

<h1>Marques</h1>

{% endblock %} 
