{% extends 'base.html.twig' %}

 {% block title %}{{ parent() }} | Page produits {% endblock %}
 {% block description %}{{ parent() }} | Page produits {% endblock %}
 {% block keywords %}{{ parent() }} | Page produits {% endblock %}

{% block body %} 

<h2> Contactez-Nous</h2>


 {% endblock %}