{% extends 'base.html.twig' %}

 {% block title %}{{ parent() }} | Page produits {% endblock %}
 {% block description %}{{ parent() }} | Page produits {% endblock %}
 {% block keywords %}{{ parent() }} | Page produits {% endblock %}

{% block body %} 

<h1> Appareils</h1> 

{% endblock %}
