{% extends 'base.html.twig' %}

 {% block title %}{{ parent() }} | Favoris {% endblock %}
 {% block description %}{{ parent() }} | Favoris  {% endblock %}
 {% block keywords %}{{ parent() }} | Favoris  {% endblock %}


{% block body %}
 <h2>Favoris</h2>


 


{% endblock %} 