{% extends 'base.html.twig' %}

 {% block title %}{{ parent() }} | CGU {% endblock %}
 {% block description %}{{ parent() }} | CGU  {% endblock %}
 {% block keywords %}{{ parent() }} | CGU  {% endblock %}


{% block body %}
 <h1>Favoris</h1>


 


{% endblock %} 