{% extends 'base.html.twig' %}



{% block body %}
    <h2>Ajouter une marque</h2>

    <a class="btn btn-dark" href="{{ path('app_brand_index') }}">Gestion des marques</a>

    {{ include('brand/_form.html.twig') }}

    
{% endblock %}
