<hr>
<footer class="footer">
  <div class="container-footer">
    <div class="footer-columns">
      <!-- Colonne 1 -->
      <div class="footer-col">
        <h4>SHOPPING</h4>
        <ul>
          <li><a href="{{ path('app_legal_notices') }}">Mentions légales</a></li>
          <li><a href="{{ path('app_cgv') }}">Condition général de vente</a></li>
          <li><a href="{{ path('app_cgu') }}">Condition génral d'utilisation</a></li>
          
        </ul>
      </div>

      <!-- Colonne 2 -->
      <div class="footer-col">
        <h4>LIENS UTILES</h4>
        <ul>
          <li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>
          <li><a href="#">Modes de paiement</a></li>
          <li><a href="#">Politique de confidentialité</a></li>
         
        </ul>
      </div>

      <!-- Newsletter -->
      <div class="footer-col newsletter">
        <h4>NEWSLETTER</h4>
        <p>Inscrivez-vous pour recevoir nos nouveautés, promotions et conseils skincare :</p>
        <div class="newsletter-form">
          <input type="email" placeholder="Votre adresse e-mail">
          <button>S'inscrire</button>
        </div>
        <p class="privacy-text">En vous inscrivant, vous acceptez de recevoir nos emails et d’avoir lu notre <a href="#">Politique de confidentialité</a>.</p>

        <!-- Moyens de paiement -->
        <div class="paiement-icons">
          <img src="images/paypal.png" alt="Paypal">
          <img src="images/visa.png" alt="Visa">
          <img src="images/mastercard.png" alt="Mastercard">
          <img src="images/jcb.png" alt="Carte Bleue">
          <img src="images/amex.png" alt="Amex">
        </div>
      </div>
    </div>
  </div>

  <!-- Bas de page -->
  <div class="footer-bottom">
    <p>&copy; 2025 Glow Beauty Skin | Tous droits réservés</p>
  </div>
</footer>
