{% extends 'base.html.twig' %}

 {% block title %}{{ parent() }} | CGV {% endblock %}
 {% block description %}{{ parent() }} | CGV {% endblock %}
 {% block keywords %}{{ parent() }} | CGV {% endblock %}



{% block body %} 
<h1>Condition générale de vente </h1>




{% endblock %}