{% extends 'base.html.twig' %}

 {% block title %}{{ parent() }} | Mentions légales {% endblock %}
 {% block description %}{{ parent() }} | Mentions légales {% endblock %}
 {% block keywords %}{{ parent() }} | Mentions légales {% endblock %}




{% block body %} 

<h1>Politique de confidentialité</h1>





{% endblock %}