{% extends 'base.html.twig' %}

 {% block title %}{{ parent() }} | Erreur 404 {% endblock %}
 {% block description %}{{ parent() }} | Erreur 404 {% endblock %}
 {% block keywords %}{{ parent() }} | Erreur 404 {% endblock %}

{% block body %}


 <h1> Erreur 404 </h1> 

 <p class='text-center mx-4'> <strong>Ooops cette page est intouvable</strong></p>



{% endblock %}