{% extends 'email/base.html.twig' %}




{% block body %}

<p>Pour rénitialiser votre mot de passe, veuillez cliquez ci-dessous: </p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}" 
   style="display:block; 
   margin: 0 auto; 
   text-align: center;
          padding: 12px 20px; 
          background-color: transparent;
          border: 2px solid #698866;
          color: #698866;
          font-size: 20px; 
          text-decoration: none; 
          width: fit-content;
          border-radius: 5px; 
          font-weight: bold;">
    Réinitialiser le mot de passe
</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>


<p>Si vous n'avez pas demandé de réinitialisation de mot de passe, veuillez ignorer cet e-mail.</p>
{% endblock %}